.App {
  text-align: left;
}

/* .App-logo {
  height: 40vmin;
  pointer-events: none;
} */

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

.App-header {
  background-color: hsl(75, 86%, 48%);
  min-height: 1vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

/* .App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
.comp {
  background-color: rgb(238, 234, 232);
  width: 100%;
  float: right;
  margin: 0 0 3em 0;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 100;
  list-style: none;
}
.split-flex {
  display: inline;
  flex-direction: row;
  background-color: #111110;
  overflow-y: auto;
  width: (10, 100);
  /* max-width: 100%; */
}

.Node_link {
  background-color: #131012;
  overflow-y: auto;
  width: 10%;
  max-width: 10%;
  height: 7;
}
.split-inline {
  display: inline;
  flex-direction: column;
  background-color: hsl(0, 58%, 50%);
  overflow-y: auto;
  width: 500;
  height: 500;
  max-width: 100%;
}
.switches {
  background-color: hsl(0, 8%, 91%);
  width: 100%;
  float: right;
  margin: 0 0 3em 0;
  align-items: center;
  justify-content: center;
  height: max-content 1px;
  padding: 10;
  list-style: none;
}
